
.top-menu div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer
}

.top-menu {
    display: flex;
    gap: 15px;
    margin: 20px 0
}

.display-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.display-info .main {
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 70px
}

.top-menu .selected {
    border-color: blue
}